<div class="row mb-4">
    <div class="col-sm-4">
        <img width="100%" height="auto" class="w-full rounded-lg" src="{{ mini-project.gif }}">
    </div>
    <div class="col-sm-8">
        {% if mini-project.system-name %} <b><i>{{ mini-project.system-name }}</i>:</b> {% endif %}
        <b>{{ mini-project.title }}</b>
        <br>
        <i><a href="{{ mini-project.event-web }}" target="_blank" rel="noopener">{{ mini-project.event }}</a></i>
        <br>
        {{ mini-project.team }}
        <br>
        {% if mini-project.post %} <a href="{{ mini-project.post }}" target="_blank" rel="noopener">[POST]</a> {% endif %}
        {% if mini-project.code %} | <a href="{{ mini-project.code }}" target="_blank" rel="noopener">[CODE]</a> {% endif %}
        {% if mini-project.demo %} | <a href="{{ mini-project.demo }}" target="_blank" rel="noopener">[DEMO]</a> {% endif %}
        <br>
        <u><b><i>Description</i></b>:</u> {{ mini-project.description }}
        <br>
        <u><b><i>Prize</i></b>:</u> {{ mini-project.prize }}
    </div>
</div>
