/* Document body styles */
body.light-theme {
    background-color: #ffffff;
    color: #333333;
    transition: 0.5s;
}
body.dark-theme {
    background-color: #333333;
    color: #ffffff;
    transition: 0.5s;
}


/* Hyperlink, hightlight, and text styles */
a {
    color: #bd5d38;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #824027;
    text-decoration: underline;
}
hightlight {
    color: #bd5d38;
    text-decoration: none;
    background-color: transparent;
}
.text-primary {
    color: #4c5157 !important;
    font-size: 29px;
}


/* Styles for user selection */
::selection {
    background-color: #ffb699;
    transition: 0.5s;
}

/* Light theme style for user selection */
.light-theme ::selection {
    background-color: #ffb699;
}

/* Dark theme style for user selection */
.dark-theme ::selection {
    background-color: #545454;
}


/* Styles for navigation bar */
nav {
    position: fixed;
    background-color: #f5f5f5;
    width: 190px;
    top: 0px;
    left: -190px;
    height: 100%;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(161, 161, 161, 0.5);
    transition: 0.5s;
}
.light-theme nav {
    background-color: #f5f5f5;
    color: black;
    box-shadow: 2px 0 5px rgba(161, 161, 161, 0.5);
}
.dark-theme nav {
    background-color: #333333;
    color: white;
    box-shadow: 2px 0 5px rgba(92, 92, 92, 0.5);
}


/* Styles for hamburger-icon button navigation bar */
.nav-toggle-btn {
    padding: 10px 0px 15px 10px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    position: absolute;
    top: 2.5rem;
    left: 190px;
    line-height: 50px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
}
.light-theme .nav-toggle-btn {
    background-color: #f5f5f5;
    color: black;
    border: 2px solid #ddd;
}
.dark-theme .nav-toggle-btn {
    background-color: #333333;
    color: white;
    border: 2px solid #555;
}


/* Define hamburger icon styles */
.nav-toggle-btn span {
    background: #333333;
    border-radius: 3px;
    display: block;
    height: 3px;
    margin-top: 5px;
    position: relative;
    width: 25px;
    transition: all 0.5s ease;
}
.light-theme .nav-toggle-btn span {
    background: #333333;
}
.dark-theme .nav-toggle-btn span {
    background: #ffffff;
}


/* Transformation of hamburger icon into close icon */
.nav-toggle-btn.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 7px;
}
.nav-toggle-btn.active span:nth-of-type(2) {
    opacity: 0;
}
.nav-toggle-btn.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    top: -9px;
}


/* Styles for each line in the navigation bar */
nav ul {
    list-style: none;
    margin-top: 3rem;
    padding: 0;
}
nav ul li {
    text-align: center;
}
nav ul li p {
    color: #bd5d38;
    display: block;
    padding: 10px 0px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}
nav ul li p span.text {
    text-decoration: underline;
    color: #bd5d38;
    cursor: pointer;
}
nav ul li p:hover span.text {
    color: #824027;
    cursor: pointer;
}


/* Animated navigation menu bar */
.animated-menu {
    left: 0px;
}


/* Code-style text for research interest */
code {
    font-family: "Consolas";
    color: #333;
    background-color: #f1f1f1;
    padding: 2px 4px 2px 4px;
    font-size: 83%;
    border-radius: 5px;
    transition: 0.5s;
}
.light-theme code {
    color: #fff;
    background-color: #909090;
}
.dark-theme code {
    color: #333;
    background-color: #f1f1f1;
}

/* Code container styles */
.codebox {
    font-family: "Consolas";
    color: #333;
    border-left: 4px solid #4a5568;
    padding: 0.25rem 0 0.25rem 0.75rem;
    opacity: 0.85;
    font-size: 89%;
    /* border-top-right-radius: 7px;
    border-bottom-right-radius: 7px; */
    transition: 0.5s;
}
.light-theme .codebox {
    color: #333;
    background-color: #f5f5f5;
}
.dark-theme .codebox {
    color: #fff;
    background-color: #2d2d2d;
}


/* Border styles for profile picture */
.ring-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ring {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
}
.ring::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    padding: 4px;
    box-sizing: border-box;
    background: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    mask-composite: exclude;
}
.hollow-ring {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 1;
    transition: 0.5s;
}
.light-theme .hollow-ring {
    background-color: #ffffff;
}
.dark-theme .hollow-ring {
    background-color: #333333;
}
.profile-image {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ffffff;
    z-index: 2;
    transition: 0.5s;
}
.light-theme .profile-image {
    border: 5px solid #ffffff
}
.dark-theme .profile-image {
    border: 5px solid #333333
}


/* Styles for emoji indicator with emoji */
.emoji-indicator {
    font-size: medium;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    /* position: absolute;
    bottom: 5px;
    right: 1px; */
    position: relative;
    top: 112px;
    left: 107px;
    /* border: 4px solid #ffffff; */
    z-index: 1000;
}
.light-theme .emoji-indicator {
    /* border: 4px solid #ffffff; */
    background-color: #efefef;
}
.dark-theme .emoji-indicator {
    /* border: 4px solid #333333; */
    background-color: #787878;
}
.emoji-indicator .hover-text {
    display: none;
    white-space: nowrap;
    margin-left: 2px;
    /* margin-right: 4px; */
}
.emoji-indicator:hover .hover-text {
    display: inline;
}
.emoji-indicator:hover {
    border-radius: 21.5px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Handle for social icons */
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.70rem;
    width: 3.70rem;
    color: #495057; 
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 0.25rem;
    padding-top: 4px;
    transition: transform 0.3s;
}
.social-icons .social-icon:hover {
    transform: scale(1.30);
}
.social-icons .social-icon:last-child {
    margin-right: 0;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Styles for overlay background when activating contact info card */
.contact-card-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


/* Styles for information card and its child entities */
.information_card {
    font-family: 'Fira Code', monospace;
    position: relative;
    width: 450px;
    height: 315px;
}
#front_end_card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 5px #000;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.front {
    background: #2d2d2d;
    color: white;
}
.back {
    background-color: #2d2d2d;
    background-image:
        linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)),
        linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    transform: rotateY(180deg);
    text-align: left;
    align-items: flex-start;
}
.flip {
    transform: rotateY(180deg);
}
.contact-info-card {
    background: transparent;
    color: white;
    padding: 15px;
    border-radius: 15px;
}
.code-line {
    display: flex;
}
.line-number {
    color: #888;
    width: 30px;
    text-align: right;
    padding-right: 10px;
}
.code-content {
    white-space: pre;
}
.keyword {
    color: #569cd6;
}
.self {
    color: #82c5fc;
}
.string {
    color: #d69d85;
}
.namespace {
    color: #4ec9b0;
}
.function {
    color: #dcdcaa;
}
.card-name {
    font-size: 23px;
    margin-bottom: 5px;
    font-weight: bold;
}
.card-website-link {
    color: #888; 
    font-size: 19px;
    font-weight: bold;
}


/* Styles for volume emoji */
#volumeEmoji {
    cursor: pointer;
    font-size: 21px;
    user-select: none;
}
#volumeEmoji:focus {
    outline: none;
}


/* Styles for project list */
#projects {
    margin: 0px;
}
.project {
    margin: 0px;
}


/* Styles for filter buttons */
#filters-project .filter-button {
    padding: 4px 7px;
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
}
#filters-project .filter-button:hover {
    background-color: rgba(194, 194, 194, 0.45);
}
#filters-project .filter-button.active {
    background-color: rgba(194, 194, 194, 0.45);
}


/* Light theme styles for filter button */
.light-theme #filters-project .filter-button {
    border: 1px solid #333333;
    color: #333333;
}


/* Dark theme styles for filter button */
.dark-theme #filters-project .filter-button {
    border: 1px solid #ffffff;
    color: #ffffff;
}


/* Styles for pager buttons */
.isotope-pager-project {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.isotope-pager-project .pager {
    display: block;
    padding: 4px 7px;
    background-color: transparent;
    border: 1px solid #333333;
    margin: 0 5px;
    border-radius: 7px;
    transition: 0.5s;
}
.isotope-pager-project .pager:hover {
    background-color: rgba(194, 194, 194, 0.45);
    cursor: pointer;
}
.isotope-pager-project .pager.active {
    background-color: rgba(194, 194, 194, 0.45);
}


/* Light theme styles for pager button */
.light-theme .isotope-pager-project .pager {
    border: 1px solid #333333;
    color: #333333;
}


/* Dark theme styles for pager button */
.dark-theme .isotope-pager-project .pager {
    border: 1px solid #ffffff;
    color: #ffffff;
}


/* Disabled stye for pager buttons */
.isotope-pager-project .pager:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
    opacity: 0.5;
    border: 1px solid #aaaaaa;
}


/* Styles for pager buttons */
.isotope-pager-github {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.isotope-pager-github .pager {
    display: block;
    padding: 4px 7px;
    background-color: transparent;
    border: 1px solid #333333;
    margin: 0 5px;
    border-radius: 7px;
    transition: 0.5s;
}
.isotope-pager-github .pager:hover {
    background-color: rgba(194, 194, 194, 0.45);
    cursor: pointer;
}
.isotope-pager-github .pager.active {
    background-color: rgba(194, 194, 194, 0.45);
}


/* Light theme styles for pager button */
.light-theme .isotope-pager-github .pager {
    border: 1px solid #333333;
    color: #333333;
}


/* Dark theme styles for pager button */
.dark-theme .isotope-pager-github .pager {
    border: 1px solid #ffffff;
    color: #ffffff;
}


/* Disabled stye for pager buttons */
.isotope-pager-github .pager:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
    opacity: 0.5;
    border: 1px solid #aaaaaa;
}


/* More/Less button for widgets */
.collapse.in { 
    display: inline !important; 
}


/* Styles for filter buttons */
#filters-resources .filter-button {
    padding: 4px 7px;
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
}
#filters-resources .filter-button:hover {
    background-color: rgba(194, 194, 194, 0.45);
}
#filters-resources .filter-button.active {
    background-color: rgba(194, 194, 194, 0.45);
}


/* Light theme styles for filter button */
.light-theme #filters-resources .filter-button {
    border: 1px solid #333333;
    color: #333333;
}


/* Dark theme styles for filter button */
.dark-theme #filters-resources .filter-button {
    border: 1px solid #ffffff;
    color: #ffffff;
}


/* Handle for gallery and pictures in gallery */
div.gallery {
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 8px;
    float: left;
    width: 212px;
}
div.gallery:nth-child(8n+1) {
    clear: both;
}
div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}
div.desc {
    padding: 8px;
    text-align: center;
}


/* Styles for update cards */
.news-card {
    background-color: none;
    width: 100%;
    height: 291px;
    /* height: 365px; */
    border-radius: 7px;
    margin: 3px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    /* width: 211px; */
    display: flex;
    flex-direction: column;
}
.news-desc {
    flex-grow: 1;
    padding: 0.4rem 1rem 0rem 1rem;
    font-size: 13px;
}
.news-time {
    color: grey;
    padding: 0rem 1rem 0.6rem 1rem;
    font-size: 12px;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 60px;
    padding: 20px;
    width: 40px;
    height: 40px; 
    align-items: center;
    justify-content: center;
    opacity: 0.5; 
}
.owl-carousel .owl-nav .owl-prev {
    left: -30px;
}
.owl-carousel .owl-nav .owl-next {
    right: -33px;
}
.owl-carousel .owl-dots {
    display: none;
}
.owl-carousel {
    margin: 0;
    position: relative;
}


/* Styles for Github cards container */
#github-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1600px;
    margin: 15px;
}


/* Styles for GitHub cards */
.github-card {
    flex: 0 1 calc(50% - 20px);
    margin: 0px 15px 10px 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    width: 500px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.dark-theme .github-card {
    background-color: #292929;
    color: #ffffff;
    border-color: #343434;
}
@media (max-width: 768px) {
    .github-card {
        flex: 0 1 100%;
        width: auto;
    }
}


/* Styles for repository information */
.repo-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    transition: 0.5s;
}
.repo-header .bookmark-icon {
    margin-right: 8px;
    color: #586069;
    transition: 0.5s;
}
.repo-name {
    font-weight: 500;
    color: #0366d6;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;
}
.repo-name:hover {
    text-decoration: underline;
    color: #0366d6;
}
.dark-theme .repo-name:hover {
    text-decoration: underline;
    color: #0366d6;
}
.repo-description {
    font-size: 13px;
    color: #586069;
    margin-bottom: 16px;
    line-height: 1.4;
    transition: 0.5s;
}
.stats-number {
    margin-left: 4px;
    transition: 0.5s;
    transition: 0.5s;
}
.repo-stats {
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: 0.5s;
}
.repo-stats > * {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.repo-stats i {
    margin-right: 8px;
}
.language-icon {
    color: #007bff;
    margin-right: 8px;
    transition: 0.5s;
}
.dark-theme .repo-description,
.dark-theme .stats-number,
.dark-theme .language {
    color: #ffffff;
}
.star-icon {
    color: #ffc107;
    transition: 0.5s;
}
.fork-icon {
    color: #333;
    transition: 0.5s;
}
.dark-theme .bookmark-icon,
.dark-theme .fork-icon {
    color: #bbbbbb;
}


/* Back-to-top button styles */
#back-to-top-button {
    display: inline-block;
    background-color: #9faba6;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 7px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back-to-top-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#back-to-top-button:hover {
    cursor: pointer;
    background-color: #767f7b;
}
#back-to-top-button:active {
    background-color: #9faba6;
}
#back-to-top-button.show {
    opacity: 0.70;
    visibility: visible;
}


/* Toggle theme button styles */
.toggle-theme-button {
    width: 55px;
    height: 55px;
    border-radius: 7px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000; 
    transition: background-color 0.5s ease, color 0.5s ease;
}


/* Light theme styles for toggle theme button */
.light-theme .toggle-theme-button {
    background-color: #919191;
    color: #ffffff;
}


/* Dark theme styles for toggle theme button */
.dark-theme .toggle-theme-button {
    background-color: #ccc;
    color: #333333;
}


/* Container for the assistant icon */
.popup-icon-container {
    position: fixed;
    left: 10px;
    bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}


/* Assitant icon styles */
.icon {
    font-size: 30px;
    color: white;
    padding: 5px;
    border-radius: 50%;
}


/* Sppech balloon styles */
.speech-balloon {
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    max-width: 200px;
    margin-left: 0px;
    font-size: 14px;
    transition: 0.5s;
}


/* Light theme for speech balloon */
.light-theme .speech-balloon {
    background-color: #f5f5f5;
    color: black;
    border: 2px solid #ddd;
}


/* Dark theme for speech balloon */
.dark-theme .speech-balloon {
    background-color: #495057;
    color: white;
    border: 2px solid #555;
}


/* Dismissal area styles for the assistant icon */
.dismissal-area {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: rgba(176, 176, 176, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    z-index: 500; /* 500 := below the icon but above other content */
    display: none;
}

.hidden {
    display: none;
}


/* Styles for progress bar */
.progress-bar-container {
    width: 100%;
    height: 1px;
    background: #f1f1f1;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.5s;
}
.progress-bar {
    height: 1px;
    background: #bd5d38;
    width: 0%;
}
.light-theme .progress-bar-container {
    background: #f1f1f1;
}
.dark-theme .progress-bar-container {
    background: #888;
}


/* New style for webpage scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
::-webkit-scrollbar {
    width: 10px;
}


/* Styles for middle-layer moving-particle canvas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
